$starFieldWidth: 24000;
$starFieldHeight: 24000;
$starStartOffset: 600px;
// $starFieldWidth: 25600;
// $starFieldHeight: 25600;
// $starStartOffset: 6000px;

$starOneScrollDuration: 100s;
$starTwoScrollDuration: 125s;
$starThreeScrollDuration: 175s;
$numStarOneStars: 170;
$numStarTwoStars: 70;
$numStarThreeStars: 20;
$numComet: 10;

@function create-stars($n) {
    $stars: "#{random($starFieldWidth)}px #{random($starFieldHeight)}px #FFF";
  
    @for $i from 2 through $n {
      $stars: "#{$stars} , #{random($starFieldWidth)}px #{random($starFieldHeight)}px #FFF";
    }
    @return unquote($stars);
}

@mixin star-template($numStars, $starSize, $scrollSpeed) {
    z-index: 10;
    width: $starSize;
    height: $starSize;
    border-radius: 50%;
    background: transparent;
    box-shadow: create-stars($numStars);
    animation: animStar $scrollSpeed linear infinite;
    &:after {
      content: " ";
      top: -$starStartOffset;
      width: $starSize;
      height: $starSize;
      border-radius: 50%;
      position: absolute;
      background: transparent;
      box-shadow: create-stars($numStars);
    }
  }
  
  @mixin shooting-star-template($numStars, $starSize, $speed) {
    z-index: 10;
    width: $starSize;
    height: $starSize + 80px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    background: linear-gradient(
      to top,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1)
    );
    animation: animShootingStar $speed linear infinite;
  }
  
  

.scene > .face.nightSky {
    background: linear-gradient(to bottom, #201c2f 0%, #100751 100%);
}

.stars {
    @include star-template($numStarOneStars, 20px, $starOneScrollDuration);
  }
  .stars2 {
    @include star-template($numStarTwoStars, 40px, $starTwoScrollDuration);
  }
  .stars3 {
    @include star-template($numStarThreeStars, 60px, $starThreeScrollDuration);
  }
  .comet {
    @include shooting-star-template($numComet, 100px, 10s);
  }
  

@keyframes animStar {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-#{$starFieldHeight / 2}px)
        translateX(-#{$starFieldWidth / 2}px);
    }
  }
  
  @keyframes animShootingStar {
    from {
      transform: translateY(0px) translateX(0px) rotate(-45deg);
      opacity: 1;
      height: 5px;
    }
    to {
      transform: translateY(-#{$starFieldHeight}px)
        translateX(-#{$starFieldWidth}px) rotate(-45deg);
      opacity: 1;
      height: 800px;
    }
}
  