* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  

    &::-webkit-scrollbar {
        display: none; /* Edge, Chrome, Safari and Opera */
    }
}


.html {
    background-color: aqua;
}

.css {
    background-color: crimson;
    top: 0;
    transform: translate(100%, 0px);
}

.animate {
    height: 100vh;
    width: 100%;
    position: relative;

    .scene {
        width: 100%;
        height: 100%;
        position: absolute;
    }
}