* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  

    &::-webkit-scrollbar {
        display: none; /* Edge, Chrome, Safari and Opera */
    }
}